main {
  height: 100vh;
}

#text_container {
  min-height: 100px;
  width: 100%;
  background: #333;
  color: #fff;
  margin-top: 50px;
  padding: 10px;
  padding-left: 20px;
}

.ai {
  background: rgb(75, 75, 75)
}